* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
  font-size: 62.5%; /* 62.5% of the default 16px is 10px */
}
body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
a {
    color: white;
    text-decoration: none;
}
li {
    list-style-type: none;
}
header {
    background-color: #5F7D78;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5000;
}
header a {
    font-family: "Inter", sans-serif;
    font-size: 2.2rem;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 125px;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
nav a {
    font-weight: 600px;
}
nav a:hover {
    text-decoration: underline;
}
header .download-logo {
    display: flex;
    align-items: center;
    border: 3px solid #D4BFEC;
    border-radius: 25px;
    padding: 15px 20px;
    gap: 5px;
    font-size: 2.2;
}
header .download-logo:hover {
    background-color: #d4bfec42;
    color: black;
}
.section1 {
    position: relative;
}
.hero-section {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #074643;
    color: white;
    padding-top: 80px;
    padding-bottom: 140px;
    clip-path: ellipse(90% 80% at 27% 18%);
    overflow-x: hidden;
}
.hero-section .container {
    padding-top: 120px;
}
.hero-section .train-one {
    font-family: "Train One", system-ui;
    font-weight: 400;
    font-size: 5.9rem;
}
.hero-section h2 {
    font-size: 6.6rem;
    font-weight: 800;
}
.hero-section p {
    font-size: 3.1rem;
    font-weight: 300;
    max-width: 400px;
}
.hero-section .div1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 85px;
    padding-left: 1rem;
}
.hero-section ul {
    display: flex;
    gap: 20px;
    font-size: 2rem;
    font-weight: 800;
    padding-left: 1rem;
}
.hero-section .link {
    padding: 15px 25px;
}
.hero-section .left {
    border: 2px solid black;
    background-color: black;
    border-radius: 27px;
}
.section1 .box {
    position: absolute;
    background-color: white;
    z-index: 1000;
    top: 350px;
    right: 500px;
    color: black;
    max-width: 240px;
    border: 3px solid white;
    border-radius: 50px;
    padding: 20px 50px;
}
.section1 .box h1{
    font-size: 7.7rem;
    font-weight: 800;
}
.section1 .box p{
    font-size: 2.6rem;
    font-weight: 800;
}
.guy-image {
    position: absolute;
    top: 90px;
    right: 30px;
    border-radius: 50%;
}
.about {
    padding-left: 15px;
}
.about .container-left {
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.about h1 {
    font-weight: 800px;
    font-size: 5rem;
}
.about .container-left p{
    font-weight: 100px;
    font-size: 2.8rem;
}
.about .download-logo {
    display: flex;
    align-items: center;
    border: 3px solid black;
    background-color: black;
    border-radius: 25px;
    padding: 15px 20px;
    max-width: fit-content;
    gap: 5px;
    font-size: 2.2rem;
}
.about .wrapper-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.about .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.about {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.about .container-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about .container-right p {
    font-size: 2rem;
    max-width: 550px;
}
.about .container-right .p2{
    font-size: 8.1rem;
    font-weight: 400;
    font-family: "Whisper", cursive;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
}
.info-card {
    display: flex;
    flex-direction: column;
}
.info {
    font-size: 2.2rem;
    font-weight: 800;
    padding: 12px 70px;
    max-width: 650px;
}
.form {
    border: 2px solid black;
    border-radius: 27px;
}
.age {
    display: flex;
    gap: 130px;
}
.residence {
    display: flex;
    gap: 60px;
}
.address {
    display: flex;
    gap: 80px;
}
.email {
    display: flex;
    gap: 110px;
}
.phone {
    display: flex;
    gap: 100px;
}
.freelance {
   display: flex;
    gap: 60px; 
}
.footer  h1{
    font-size: 4.8rem;
    font-weight: 800;
}
.footer  p{
    font-size: 2.2rem;
    font-weight: 600;
}
.grid-container {
    border-top: 4px solid #8E7AB8;
    border-left: 4px solid #8E7AB8;
    border-bottom: 4px solid #8E7AB8;
    border-radius: 25px;
    padding: 20px 0px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    /*margin-right: 50px;*/
    position: relative;
    right: 40px;
}
.grid-item {
    border: 9px solid #398E8A;
    border-radius: 29px;
    padding: 10px 20px;
    text-align: center;
}
