
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%; /* 62.5% of the default 16px is 10px */
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
a {
  color: white;
  text-decoration: none;
}
li {
  list-style-type: none;
}
header {
  background-color: #5f7d78;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5000;
}
header a {
  font-family: "Inter", sans-serif;
  font-size: 2.2rem;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 125px;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
nav a {
  font-weight: 600px;
}
nav a:hover {
  text-decoration: underline;
}
header .download-logo {
  display: flex;
  align-items: center;
  border: 3px solid #d4bfec;
  border-radius: 25px;
  padding: 15px 20px;
  gap: 5px;
  font-size: 2.2;
}
header .download-logo:hover {
  background-color: #d4bfec42;
  color: black;
}
header .dropdown {
  display: none;
}
.section1 {
  position: relative;
}
.hero-section {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #074643;
  color: white;
  padding-top: 80px;
  padding-bottom: 140px;
  clip-path: ellipse(90% 80% at 27% 18%);
  overflow-x: hidden;
  width: 100%;
}
.hero-section .container {
  padding-top: 120px;
}
.hero-section .train-one {
  font-family: "Train One", system-ui;
  font-weight: 400;
  font-size: 5.9rem;
}
.hero-section h2 {
  font-size: 6.6rem;
  font-weight: 800;
}
.hero-section p {
  font-size: 3.1rem;
  font-weight: 300;
  max-width: 400px;
}
.hero-section .div1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 85px;
  padding-left: 1rem;
}
.hero-section ul {
  display: flex;
  gap: 20px;
  font-size: 2rem;
  font-weight: 800;
  padding-left: 1rem;
}
.hero-section .link {
  padding: 15px 25px;
}
.hero-section .left {
  border: 2px solid black;
  background-color: black;
  border-radius: 27px;
}
.section1 .box {
  position: absolute;
  background-color: white;
  z-index: 1000;
  top: 350px;
  right: 500px;
  color: black;
  max-width: 240px;
  border: 3px solid white;
  border-radius: 50px;
  padding: 20px 50px;
}
.section1 .box h1 {
  font-size: 7.7rem;
  font-weight: 800;
}
.section1 .box p {
  font-size: 2.6rem;
  font-weight: 800;
}
.guy-image {
  position: absolute;
  top: 90px;
  right: 30px;
  border-radius: 50%;
}
.about {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-left: 15px;
  padding-right: 20px;
  margin-bottom: 90px;
}
.about .container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.about .wrapper1 h1 {
  font-weight: 800px;
  font-size: 5rem;
  margin-bottom: 20px;
}
.about .wrapper1 p {
  font-size: 2.9rem;
  font-weight: 300px;
}
.about .container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 70px;
  flex-wrap: wrap;
}
.about .wrapper2 p {
  font-size: 2rem;
  font-weight: 400px;
  max-width: 550px;
  line-height: 32px;
}
.about .container2 .wrapper2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center; 
}
.about .download-logo {
  display: flex;
  align-items: center;
  border: 3px solid black;
  background-color: black;
  border-radius: 25px;
  padding: 15px 20px;
  max-width: fit-content;
  gap: 5px;
  font-size: 2.2rem;
}
.about .icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.about .container2 p {
  font-size: 8.1rem;
  font-weight: 400;
  font-family: "Whisper", cursive;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}
.info-card {
  display: flex;
  flex-direction: column;
}
.info {
  font-size: 2.2rem;
  font-weight: 800;
  padding: 12px 70px;
  max-width: 650px;
}
.form {
  border: 2px solid black;
  border-radius: 27px;
}
.age {
  display: flex;
  flex-direction: row;
  gap: 130px;
}
.residence {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.address {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.email {
  display: flex;
  flex-direction: row;
  gap: 110px;
}
.phone {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.freelance {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.footer h1 {
  font-size: 4.8rem;
  font-weight: 800;
}
.footer p {
  font-size: 2.2rem;
  font-weight: 600;
}
.grid-container {
  border-top: 4px solid #8e7ab8;
  border-left: 4px solid #8e7ab8;
  border-bottom: 4px solid #8e7ab8;
  border-radius: 25px;
  padding: 20px 0px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  position: relative;
  right: 40px;
}
.grid-item {
  border: 9px solid #398e8a;
  border-radius: 29px;
  padding: 10px 20px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
      display: none;
  }
  header .download-logo {
      display: none;
  }
  header .dropdown {
      position: relative;
      display: inline-block;
      padding-right: 40px;
  }
  .dropdown:hover .content {
      display: block;
  }
  .dropdown button {
      background-color: #5f7d78;
      border: none;
      cursor: pointer;
      padding: 5px 10px;
  }
  .dropdown .content {
      display: none;
      position: absolute;
      background-color: #5f7d78;
      min-width: 100px;
      box-shadow: 6px 6px 12px hsl(0, 0%, 0%);
  }
  .dropdown a {
      text-decoration: none;
      display: block;
      color: white;
      padding: 10px 15px;
      font-size: 1.5rem;
  }
  .dropdown a:hover {
      background-color: #343a394d;
      color: #d1d8d7;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
      display: none;
  }
  header .download-logo {
      display: none;
  }
  header .dropdown {
      position: relative;
      display: inline-block;
      padding-right: 40px;
  }
  .dropdown:hover .content {
      display: block;
  }
  .dropdown button {
      background-color: #5f7d78;
      border: none;
      cursor: pointer;
      padding: 5px 10px;
  }
  .dropdown .content {
      display: none;
      position: absolute;
      background-color: #5f7d78;
      min-width: 100px;
      box-shadow: 6px 6px 12px hsl(0, 0%, 0%);
  }
  .dropdown a {
      text-decoration: none;
      display: block;
      color: white;
      padding: 10px 15px;
      font-size: 1.5rem;
  }
  .dropdown a:hover {
      background-color: #343a394d;
      color: #d1d8d7;
  }
  .guy-image {
    display: none;
  }
  .section1 .box {
    display: none;
  }
  .hero-section {
    clip-path: ellipse(90% 80% at 40% 40%);
  }
  .about {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  .about .container1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about .container1 .wrapper1 {
    margin-bottom: 30px;
  }
  .about .container2 .wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding-left: 5px;
  }
  .about.icons {
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
  .p-div {
    display: flex;
    justify-content: center;
  }
  .about .container2 p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    font-size: 5.1rem;
    font-weight: 400;
    font-family: "Whisper", cursive;
  }
  .grid-container, .grid{
    display: none;
  }
  .footer {
    display: block;
    padding-left: 3px;
    padding-right: 3px;
  }
  .age {
    display: flex;
    gap: 80px;
  }
  .residence {
    display: flex;
    gap: 20px;
  }
  .address {
    display: flex;
    gap: 5px;
  }
  .email {
    display: flex;
    gap: 70px;
  }
  .phone {
    display: flex;
    gap: 60px;
  }
  .freelance {
    display: flex;
    gap: 20px;
  }
  .info {
    padding: 12px 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .form {
    border: 3px solid black;
    border-radius: 27px;
  }
}

